
<% include inforheader %>
<section>
  <div>
	<a href="./images/<%=picture%>.jpg" target="_blank">
	<img src="./images/<%=picture%>.jpg"></a>
  </div>
  <p>姓名：<%=student_name%></p><br>
  <p>性别：<%=sex%></p><br>
  <p>学号：<%=student_number%></p><br>
  <p>籍贯：<%=native_place%></p><br>
  <p>现居地：<%=live_place%></p><br>
  <p>工作：<%=job%></p><br>
</section>  
<% include inforfooter %>